.mason_container {
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    flex-flow: column wrap;
}

/* Force new columns */
.break {
    flex-basis: 100%;
    width: 0;
    margin: 0;
    content: "";
    padding: 0;
}